[submodule "qemu-client"]
	path = qemu-client
	url = ../qemu-client.git
[submodule "qapi-client"]
	path = qapi-client
	url = ../qapi-client.git
[submodule "network-utils"]
	path = network-utils
	url = ../network-utils.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:q-controller/qcontroller-ui.git
